<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мини-чат</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/chat.css">
</head>
<body>
<div class="chat-container">
    <div class="user-list" id="userList">
        <!-- Выводим пользователей, исключая текущего пользователя -->
        {% for chat in users_all %}
            {% if chat.id != user.id %}
                <div class="user-item" data-user-id="{{ chat.id }}">
                    <div class="user-name">
                        {{ chat.name }}
                    </div>
                    {% if chat.new_mes_count > 0 %}
                        <div class="newmes-count">
                            {{ chat.new_mes_count }}
                        </div>
                    {% endif %}
                    {% if chat.is_online == True %}
                        <div class="online">
                            online
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="chat-area">
        <div class="chat-header" id="chatHeader">
            <span>Мини-чат</span>
            <button class="logout-button" id="logoutButton" onclick="logout()">Выход</button>
        </div>
        <div class="messages" id="messages">
            <div class="welcome-message">Выберите чат для общения</div>
        </div>
        <div class="input-area">
            <input type="text" id="messageInput" placeholder="Введите сообщение..." disabled>
            <button id="sendButton" disabled>Отправить</button>
            {% if user.role == "admin" %}
                <div>
                    <input type="checkbox" id="to_all_active" name="to_all_active" />
                    <label for="to_all_active">Всем активным</label>
                </div>
                <div>
                    <input type="checkbox" id="to_all" name="to_all" />
                    <label for="to_all">Всем</label>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    // Передаем идентификатор текущего пользователя в JavaScript
    const currentUserId = parseInt("{{ user.id }}", 10);
    const currentUserRole = "{{ user.role.split('.').pop() }}";
    console.log(currentUserRole);
</script>

<script src="/static/js/chat.js"></script>
</body>
</html>
